<div class="page-header">
  <h1>Join the league</h1>
  <ol class="breadcrumb">
    <li>Leagues</li>
    <li class="active"><%= @invite.league.name %></li>
  </ol>
</div>

<% if @teams.nil? %>
    <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook) %>
<% else %>
    <%= render partial: 'teams/edit_form', locals: { teams: @teams } %>
<% end %>