<div class="page-header">
    <h1><span class="glyphicon glyphicon-home"></span> My Leagues</h1>
</div>

<table class="table table-responsive table-hoverable">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @leagues.each do |l| %>
        <tr onclick="location.href='<%= league_path(l) %>'">
          <td><%= l.name %></td>
        </tr>
      <%  end %>
  </tbody>
</table>