<div class="page-header">
    <h1>My Leagues</h1>
</div>

<table id="user-league-table" class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @leagues.each do |l| %>
        <tr>
          <td><%= l.name %></td>
        </tr>
      <%  end %>
  </tbody>
</table>