<div class="page-header">
    <h1>My Leagues</h1>
</div>

<table id="user-league-table" class="table table-responsive">
  <tbody>
      <tr>League One</tr>
      <tr>League Two</tr>
      <tr>League Three</tr>
  </tbody>
</table>