<%= stylesheet_link_tag 'home' %>

<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <div class="panel panel-default">
      <div class="panel-body">
            <%= image_tag('logo_image.png', alt: 'fantasy politics') %>TM
            <h1>Fantasy Politics</h1>
            <h3>Join Congress.</h3>
            <br>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-dark btn-lg' %>
            <%= link_to 'Log in', new_user_session_path, class: 'btn btn-dark btn-lg' %>
        </div>
      </div>
  </div>
</header>

<section id="goals" class="goals bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Mission</h2>
        <hr class="small">
        <p>Fantasy Politics raises political awareness by presenting relevant and meaningful content through a fun and simple gaming interface.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>About Us</h2>
        <hr class="small">
        <p>
          Built from scratch in 52 hours, Fantasy Politics demonstrates what can be accomplished by a good idea in the right environment.
          Thanks to an inspired team of developers, marketers, and business strategists, Fantasy Politics won 2nd place at Startup Weekend St. Louis.
          It has been featured on the radio and in the St. Louis Business Journal.
          Fantasy Politics was founded by Cole Bradley.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Fantasy Politics</strong>
        </h4>
        <p>911 Washington Ave.<br>St. Louis, MO 63101</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (573) 270-1954</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:stantoncbradley@gmail.com">stantoncbradley@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Fantasy Politics 2014</p>
      </div>
    </div>
  </div>
</footer>