<%= stylesheet_link_tag 'home' %>

<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>Fantasy Politics</h1>
    <h3>No longer a spectator sport.</h3>
    <br>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-dark btn-lg' %>
    <%= link_to 'Log In', new_user_session_path, class: 'btn btn-dark btn-lg' %>
  </div>
</header>

<section id="goals" class="goals bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Goals</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="goal-item">
              <h4>
                <strong>Goal Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="goal-item">
              <h4>
                <strong>Goal Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="goal-item">
              <h4>
                <strong>Goal Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="goal-item">
              <h4>
                <strong>Goal Name</strong>
              </h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Fantasy Politics</strong>
        </h4>
        <p>911 Washington Ave.<br>St. Louis, MO 63101</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">fantasypoliticsthrowdown@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Fantasy Politics 2014</p>
      </div>
    </div>
  </div>
</footer>