<%= stylesheet_link_tag 'home' %>

<!-- Header -->
<header id="top" class="header">
  <div class="text-vertical-center">
    <div class="panel panel-default">
      <div class="panel-body">
            <%= image_tag('logo_image.png', alt: 'fantasy politics') %>
            <h1>Fantasy Politics</h1>
            <h3>Join Congress</h3>
            <br>
            <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-dark btn-lg' %>
            <%= link_to 'Log in', new_user_session_path, class: 'btn btn-dark btn-lg' %>
        </div>
      </div>
  </div>
</header>

<section id="goals" class="goals bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Mission</h2>
        <hr class="small">
        <p>We at Fantasy Politics encourage users to become informed and active citizens through a gaming platform.</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>About Us</h2>
        <hr class="small">
        <p>
          On 6:30 pm Friday night, Cole Bradley came up with the idea for Fantasy Politics while watching CNN.
          A couple of weeks before, he had signed up to participate in Start-up Weekend and was ruminating on start-up ideas.
          When football flashed on the screen, Cole decided to check his Fantasy Football positions.
          And bing! Fantasy Politics was born.
          Interested in politics himself, he reasoned that a gamification of the legislative outcomes of bills would both inform and engage citizens.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Fantasy Politics</strong>
        </h4>
        <p>911 Washington Ave.<br>St. Louis, MO 63101</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (573) 270-1954</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:stantoncbradley@gmail.com">stantoncbradley@gmail.com</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Fantasy Politics 2014</p>
      </div>
    </div>
  </div>
</footer>