<%= form_for(@politician_bill) do |f| %>
  <% if @politician_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@politician_bill.errors.count, "error") %> prohibited this politician_bill from being saved:</h2>

      <ul>
      <% @politician_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
