@import "bootstrap-sprockets";
@import "bootstrap";

body {
  width: auto;
  padding-bottom: 70px;
}

.page-header {
  margin-top: 0px;
}

#flash {
  padding-top: 10px;
}

.devise-form-fields {
  width: 250px;

  form {
    margin-bottom: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

.scrolling-sponsor-list {
  max-height: 155px;
  overflow-y: scroll;
}

.table-hoverable {
  > tbody {
    > tr:hover {
      > td {
        background-color: whitesmoke;
      }
    }
  }
}

  .alert-danger {
    .table-hoverable {
      > tbody {
        > tr:hover {
          > td {
            background-color: darken($alert-danger-bg, 5%);
          }
        }
      }
    }
  }

  .alert-success {
    .table-hoverable {
      > tbody {
        > tr:hover {
          > td {
            background-color: darken($alert-success-bg, 5%);
          }
        }
      }
    }
  }

.trade-action-ul {
  li.trade-accept {
    a {
      color: $brand-success;
    }
    a:hover {
      color: darken($brand-success, 20%);
    }
  }
  li.trade-reject {
    a {
      color: $brand-danger;
    }
    a:hover {
      color: darken($brand-danger, 20%);
    }
  }
}

