<div class="page-header">
  <h1><%= "#{@politician.first_name} #{@politician.last_name}" %> <small>(<%= @politician.party %>&#8211;<%= state_name @politician.state %>)</small></h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sponsored bills</h3>
  </div>
  <% @politician.sponsors.each do |s| %>
  <ul class="list-group scrolling-sponsor-list">
    <a href="<%= bill_path(s.bill) %>" class="list-group-item">s.bill.number</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Co-sponsored bills</h3>
  </div>

  <ul class="list-group scrolling-sponsor-list">
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
    <a href="#" class="list-group-item">Cras justo odio</a>
  </ul>
</div>