<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to 'Fantasy Politics', root_path %>
    </li>
    <li>
      <a href="#">Leagues</a>
    </li>
    <li>
      <a href="#">Bills</a>
    </li>
    <li>
      <a href="#">Politicians</a>
    </li>
    <li>
      <%= link_to 'Log out', destroy_user_session_path %>
    </li>
  </ul>
</div>