<div id="wrapper">

    <%= render partial: 'layouts/header' %>

    <div class="page-content-wrapper">
      <div class="container-fluid">

        <%= yield %>

      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
</div>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<% parent_layout 'base' %>
