<div id="wrapper">

    <%= render partial: 'layouts/header' %>

    <div class="page-content-wrapper">
      <div class="container-fluid">

        <%= yield %>

      </div>
    </div>

    <%= render partial: 'layouts/footer' %>
</div>

<% parent_layout 'base' %>
